.app {
  position: relative;
  min-width: 375px;
  max-width: 768px;

  margin: 0 auto;

  min-height: 100vh;
}

.historyBtn {
  position: absolute;

  right: 20px;
  bottom: 50px;

  padding: 0 1em;
  line-height: 20px;

  font-size: 14px;
}

